.env
.env.local
*.local

# Playwright
node_modules/
/test-results/
/playwright-report/
/playwright-report.zip
/playwright-reports/
/report-downloads/
/blob-report/
/playwright/.cache/
/playwright/.auth/
